<%= form_with(model: @task, local: true) do |form| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= @task.errors.count %><%= t('view.error') %></h2>
      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="task_name">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="task_detail">
    <%= form.label :detail %>
    <%= form.text_field :detail %>
  </div>
  <div class="task_deadline">
    <%= form.label :deadline %>
    <%= form.date_field :deadline %>
  </div>
  <div class="task_status">
    <%= form.label :status %>
    <%= form.select :status, Task.statuses.keys.map {|k| [I18n.t("enums.tasks.status.#{k}"), k]}, include_blank: "選択して下さい" %>
  </div>
  <div class="task_priority">
    <%= form.label :priority %>
    <%= form.select :priority, Task.priorities.keys.map {|k| [I18n.t("enums.tasks.priority.#{k}"), k]}, include_blank: "選択して下さい" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<%= link_to t('view.back_task_list'), tasks_path %>
