<h1><%= t('view.show_task') %></h1>
<p><%= t('view.task_name') %>: <%= @task.name %></p>
<p><%= t('view.task_detail') %>: <%= @task.detail %></p>
<p><%= t('view.task_deadline') %>: <%= @task.deadline %></p>
<p><%= t('view.task_status') %>: <%= @task.status_i18n  %></p>
<%= link_to t('view.back_task_list'), tasks_path %>
